<h1 style="text-align:center">신이 당신을 만들 때</h1>
<div style="text-align:center">
<img src="<%=asset_path 'god.jpg'%>" ></img></div>
<form action="/home/result" method="get" style="text-align:center">
    <h3>이름을 입력해주세요</h3><br>
  이름: <input type="text" name='username'>
  <input type="submit" value="알아보러가기">
  
</form>